body {
  background: #f3fafc;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

div.App-header {
  text-align: center;
  background: ;
  background: linear-gradient(90deg, #00a8ab, #ed56c5);
  height: 100px;
  padding: 20px;
  color: blue;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tweets {
  color: #6b77bc;
  margin: 20px;
  padding: 20px;
  font-size: 16px;

}

.username {
  color: #00a8ab;

}
.username:hover {
  color: #aa56d2;
  text-decoration:underline;
  text-decoration-color: #aa56d2;

}

.App-header > h2 {
  color: #0d0f1e;

}


* {
  box-sizing: border-box;
}

form {
  margin: 5px;
  padding: 5px;
}

.nav {
  text-decoration: none;
  padding: 5px 13px;
  font-size: 15px;
  color: white;

}

.nav.1:hover {
  text-decoration:underline;
}


.divisor {
  font-weight: bold;
  font-size: 17px;
  border-top: 1px solid #114da6;
  margin: 100px 50px 20px 50px;
  clear: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #114da6;

}

.streams {
  font-size: 13px;
}


.welcome {
  text-align: center;
}
